<fz-toolbar [disabledView]="!selectedRecord" (onViewClick)="handleView()"
            (onAddClick)="handleAdd()"
            [disabledEdit]="!selectedRecord" (onEditClick)="handleEdit()"
            [disabledDelete]="!selectedRecord" (onDeleteClick)="handleDelete()"
            (onRefreshClick)="handleRefresh()"
            (onImportClick)="handleImport()"
            (onExportClick)="handleExport()"
            [menuId]="currentMenuId" [authInfo]="currentAuthInfo" [menuInfo]="currentMenuInfo">

</fz-toolbar>

<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable #dt [value]="records$ | async" selectionMode="single" [(selection)]="selectedRecord"
             [paginator]="true" [rows]="15" [responsive]="true" resizableColumns="true"
             [globalFilter]="gb">
    <p-header>工位电脑管理</p-header>
    <!--p-column field="id" header="id"></p-column-->
    <p-column field="id" header="id"></p-column>
    <p-column field="assignDate" header="领用日期"></p-column>
    <p-column field="site" header="地点"></p-column>
    <p-column field="userId" header="使用人"></p-column>
    <p-column field="userName" header="使用人"></p-column>
    <p-column field="memo" header="备注"></p-column>
</p-dataTable>
