<fz-toolbar [disabledView]="!selectedRecord" (onViewClick)="handleView()" (onAddClick)="handleAdd()"
            [disabledEdit]="!selectedRecord" (onEditClick)="handleEdit()"
            [disabledDelete]="!selectedRecord" (onDeleteClick)="handleDelete()"
            (onRefreshClick)="handleRefresh()"
            [menuId]="currentMenuId" [authInfo]="currentAuthInfo" [menuInfo]="currentMenuInfo">

</fz-toolbar>

<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
</div>
<p-dataTable [value]="records" selectionMode="single" [(selection)]="selectedRecord"
             [paginator]="true" [rows]="15" [responsive]="true" resizableColumns="true"
             [globalFilter]="gb" #dt>
    <!--header>角色管理</header-->
    <!--p-column field="id" header="id"></p-column-->
    <p-column field="serialNumber" header="序列号" [style]="{'text-align':'center'}"></p-column>
    <p-column field="name" header="名称"></p-column>
    <p-column field="ip" header="IP" [style]="{'text-align':'center'}"></p-column>
    <p-column field="location" header="位置" [style]="{'text-align':'center'}"></p-column>
    <p-column field="model" header="型号" [style]="{'text-align':'center'}"></p-column>
    <p-column field="warranty" header="质保期" [style]="{'text-align':'center'}"></p-column>
    <!--p-column field="hardware" header="硬件信息" [style]="{'text-align':'center'}"></p-column>
    <p-column field="software" header="软件信息" [style]="{'text-align':'center'}"></p-column>
    <p-column field="configuration" header="配置信息" [style]="{'width':'250px'}"></p-column-->

    <!--p-column field="status" header="状态">
        <template let-col let-car="rowData" pTemplate="body">
            <span>{{getStatus(car[col.field])}}</span>
        </template>
    </p-column-->

</p-dataTable>
