<md-sidenav-container style="min-height: 100%;height: 100%">
    <!--begin of 侧边栏-->
    <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true" style="min-height: 100%;">
        <fz-menuside [menuDataCol]="tabRouterOutletService.menuDataCol"
                     (onRouterLinkClick)="onRouterLinkClick($event)"></fz-menuside>
    </md-sidenav>
    <!--end of 侧边栏-->

    <fz-router-outlet #fzrouter name="primary"></fz-router-outlet>

    <md-tab-group #tabView class="demo-tab-group" dynamicHeight
                  [(selectedIndex)]="tabRouterOutletService.activeTabIndex">

        <md-tab *ngFor="let tab of tabRouterOutletService.tabs" [disabled]="tab.disabled">
            <ng-template md-tab-label>

                <div (dblclick)="closeTab($event,tab)" (contextmenu)="onNodeRightClick($event,tab,cm)">{{tab.label}}
                </div>

            </ng-template>
            <div class="tab-content">
                <fz-tab-router-outlet [name]="tab.path" [mainRouterOutlet]="fzrouter"></fz-tab-router-outlet>
            </div>
        </md-tab>
    </md-tab-group>

    <p-contextMenu #cm [model]="items"></p-contextMenu>

</md-sidenav-container>
