#CONTENTSIDE {
    width: auto;
    overflow: hidden;
    z-index: 1;
    margin-left: 300px;
    background-color: #FFFFFF;

    min-height: 100%;
    /*height: 100%;*/
}

#CONTENTSIDEindent {
    width: 100%;
    /*height: auto;*/
    /*min-height: 100%;*/
}

@media (max-width: 960px) {
    .PFTopLinks {
        display: none
    }

    #PFTopLinksCover {
        padding: 15px 15px 15px 15px;
    }

    .selectmenu {
        display: block;
    }

    .mobileLogoCover {
        display: block;
        float: right;
    }

    /*#MENUSIDE {
        display: none;
        overflow-y: auto;
        z-index: 999;
    }
    #MENUSIDE.active {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 999;
    }*/
    #CONTENTSIDE {
        margin-left: 0
    }

    #LOGOTEXTSIDE {
        display: none
    }

    .ContentSideSections {
        padding: 14px 24px;
    }

    #openMenuBtn {
        display: inline-block;
        float: left;
        margin-top: -6px;
        margin-right: 5px;
        border-radius: 5px;
        position: relative;
        z-index: 1000;
    }

    #openMenuBtn.active {
        display: none;
    }

    #openMobileMenuBtn.active {
        display: inline-block;
        background-color: #1976D2;
    }

    #openMenuBtn:hover,
    #openMenuBtn:focus,
    #openMobileMenuBtn:hover,
    #openMobileMenuBtn:focus {
        background-color: #2F88E0;
    }

    .Content33 {
        width: 100%;
    }

    .Content66 {
        width: 100%;
    }

    .ui-tabview.ui-tabview-top > .ui-tabview-nav li {
        width: 100%;
    }

    .BigButton {
        width: 100%;
    }

    .PFNextGen iframe {
        margin-left: 0;
    }

    .SubSubMenu ul li {
        width: 50%
    }

    .PropertyBox {
        width: 44%;
    }

    .PropertyBox img {
        width: 40%;
    }
}
